body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: rgb(167, 167, 167);
}

h1 {
    text-align: center;
}
 
.calculatorContainer {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(29, 39, 131);
    padding: 15px;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

button {
    flex: 1;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
}