body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    text-align: center;
}
 
.calculatorContainer {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(45, 58, 175);
    padding: 15px;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;  
    padding-left: 0;
    gap: 4px;
}

button {
    flex: 1;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
}